[core]
	editor = vim
[diff]
  tool = vimdiff
[merge]
	conflictstyle = diff3
[color]
	ui = true
[user]
	name = Semen Martynov
	email = semen.martynov@gmail.com
[push]
	default = upstream
[alias]
	lg = log --graph --decorate --date-order --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
